/* Normalize */
*,
*:before,
*:after, {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	-webkit-text-decoration: none;
	text-decoration-style: none;
	color: #fff;
}

ul li {
	list-style-type: none;
}

img {
	user-select: none;
	-webkit-user-select: none;
}

/* Container */
.container {
	padding: 0 20px;	
	margin: 0 auto;
	max-width: 1210px;
	width: 100%;
}

/* Header */
.header {
	top: 0;
	left: 0;
	right: 0;
	padding: 38px 0; 
	box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.15);
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.15);
	z-index: 1000;
	position: absolute;
	width: 100%;
	position: fixed;	
}

header.active {
	background-color: #31324e;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}

/* Navigation */
.header__logo {
	width: 30%;
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}
 
.header__logo img {
	display: block;
}

.header__burger-menu {
	width: 30px;
	height: 20px;
	position: relative;
	display: none;
	user-select: none;
	-webkit-user-select: none;
}

.header__burger-menu:before,
.header__burger-menu:after {
	position: absolute;
	height: 2px;
	width: 100%;
	content: '';
	background-color: #fff;
	transition: transform .2s linear,
	top .2s linear;
	-webkit-transition: transform .2s linear,
	top .2s linear;
}

.header__burger-menu:before {
	top: 0;
}

.header__burger-menu:after {
	bottom: 0;
}

.header__burger-menu span {
	position: absolute;
	background-color: #fff;
	left: 0;
	width: 100%;
	top: 9px;
	height: 2px;
    transition: width .2s linear;
    -webkit-transition: width .2s linear;
}

.header__burger-menu.active span {
	width: 0px;
}

.header__burger-menu.active:before {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	top: 9px;
}

.header__burger-menu.active:after {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	bottom: 9px;
}

.header__navigation {
	width: 70%;
}

.header__navigation ul {
	display: flex;
	justify-content: space-around;
}

.header__navigation-item {
	opacity: 0.74;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: 700;
	transition: opacity .2s linear,
	color .2s linear;
	-webkit-transition: opacity .2s linear,
	color .2s linear;
    user-select: none; 
    -webkit-user-select: none;
}

.header__navigation-item.active {
	color: #e84545;
	opacity: 1;
}

.header__navigation-item:hover {
	opacity: 1;
}

/* Intro */
.intro {
	background: #31324e url(../images/intro/intro_background.jpg) center no-repeat;
	background-size: cover;
	-webkit-bakground-size: cover;
	width: 100%;
	min-height: 700px;
	z-index: 1;
}

.intro__inner {
	display: flex;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	text-align: center;
	position: relative;
	min-height: 700px;
	padding-top: 30px;
}

.intro__title {
	font-family: 'Open Sans';
	font-size: 65px;
	line-height: 71px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 41px;
}


.intro__subtitle {
	font-size: 22px;
	line-height: 33px;
	margin-bottom: 77px;
	max-width: 911px;
}

.intro__btn {
	width: 200px;
	height: 46px;
	background-color: #e84545;
	-webkit-border-radius: 2px;
	font-size: 13px;
	line-height: 21px;
	font-weight: 600;
	text-transform: uppercase;
	display: flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
}

.intro__btn:hover {
	background-color: #CA0014;
}

/* Features */
.features {
	padding: 121px 0 50px;
}

.features__inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.features__item {
	width: 27%;
	text-align: center;
	margin-bottom: 74px;
}

.features__logo {
	margin-bottom: 34px;	
	position: relative;
	height: 60px;
    user-select: none; 
    -webkit-user-select: none;
}

.features__logo img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	cursor: pointer;
}

.features__logo img[alt='logo'] {
	opacity: 1;
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
}

.features__logo img[alt='logo']:hover {
	opacity: 0;
}

.features__title {
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #2d3033;
	margin-bottom: 25px;
}

.features__text {
	line-height: 21px;
	color: #6c7279;
}

/* Works */
.works {
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	overflow: hidden;
} 

.works__photo {
	width: calc(25% - 1px);
	height: auto;
	margin: 0;
	position: relative;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
    user-select: none;
    -webkit-user-select: none;
}

.works__photo:nth-child(4),
.works__photo:nth-child(8) {
	border-right: 0px solid #fff;
	width: 25%;
}

.works__photo:nth-child(5),
.works__photo:nth-child(6),
.works__photo:nth-child(7),
.works__photo:nth-child(8) {
	border-bottom: 0px solid #fff;
}

.works__photo img {
	width: 100%;
	height: 100%;
}

.works__photo-background {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #e75250;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	opacity: 0;
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
}

.works__photo-background:hover {
	opacity: 0.8;
}

.works__title {
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 13px;
}

.works__text {
	line-height: 1.2;
}

/* Team */
.team {
	padding: 101px 0;
}

.team__inner {
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.team__human {
	width: 23%;
	position: relative;
}

.team__human-photo {
	margin-bottom: 30px;
}

.team__human-name {
	color: #2d3033;
	font-size: 22px;
	line-height: 1.2;
	margin-bottom: 16px;
}

.team__human-job {
	font-size: 13px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #e84545;
	margin-bottom: 29px;
}

.team__human-info {
	line-height: 21px;
	color: #6c7279;
	margin-bottom: 31px;
}

.team__human-social {
	display: flex;
	align-items: center;
	-webkit-align-items: center;
}

.team__human-social i {
	color: #c6cacc;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	border: 1px solid #e8ecee;
	margin-right: 4px;
}

/* BIO */
.bio {
	display: flex;
	overflow: hidden;
}

.bio__photo {
	width: 50%;
}

.bio__photo img {
	display: block;
	width: 100%;
}

/* Slider */
.bio__slider {
	background-color: #53354a;
	width: 50%;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
	padding-left: 30px;
	overflow: hidden;
	padding-right: 20px;
	position: relative;
}

.bio__slide {
	width: 100%;
	height: 100%;
}

.bio__text {
	font-family: Cardo;
	font-size: 36px;
	line-height: 42px;
	font-style: italic;
	margin-bottom: 30px;
}

.bio__subtext {
	font-family: Raleway;
	font-size: 13px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
}

.slider.slick-initialized.slick-slider.slick-dotted {
	position: static;
}

.slick-dots {
	display: flex;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

#slick-slide-control00,
#slick-slide-control01,
#slick-slide-control02,
#slick-slide-control03,
#slick-slide-control04 {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: transparent;
	outline: none;
	border: 1px solid #fff;
	margin-left: 10px;
	color: transparent;
	font-size: 'Raleway';
}

li.slick-active  #slick-slide-control00,
li.slick-active  #slick-slide-control01,
li.slick-active  #slick-slide-control02,
li.slick-active  #slick-slide-control03,
li.slick-active  #slick-slide-control04 {
	background-color: #fff;
}


/* Download */
.download {
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	min-height: 340px;
}

.download__inner {
	color: #2d3033;
	text-align: center;
}

.download__title {
	font-size: 28px;
	line-height: 21px;
	font-weight: 300;
}

.download__text {
	font-size: 13px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 16px 0 40px;
}

.download__btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	width: 280px;
	height: 46px;
	background-color: #e84545;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	font-size: 13px;
	line-height: 21px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
	margin: 0 auto;
}

.download__btn:hover {
	background-color: #CA0014;
}

/* Footer */
.footer {
	background-color: #3a3e64;
	min-height: 345px;
	position: relative;
	z-index: 1;
}

.footer__inner {
	display: flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.footer__item {
	text-align: center;
	width: 28%;
	padding: 71px 0 110px;
}

.footer__title {
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.footer__text {
	opacity: 0.5;
	line-height: 22px;
}

.footer__soc {
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.footer__soc i {
	width: 40px;
	height: 40px;
	background-color: rgba(255,255,255,0.0);
	border: 2px solid #ffffff;
	border-radius: 2px;
	margin-right: 7px;
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.footer__footer {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 2;
	background-color: #313454;
	width: 100%;
	text-align: center;
	height: 94px;
	line-height: 22px;
	color: #808080;
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.footer__footer span {
	color: #fff;
}

/* ===================== ADAPTIVE ===================== */
@media(max-width: 1250px) {
	.container {
		max-width: 985px;
	}

	/* Intro */
	.intro__title {
		font-size: 50px;
	}

	.intro__subtitle {
		font-size: 20px;
	}

	/* Team */
	.team__human {
		width: 48%;
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		justify-content: center;
		-webkit-justify-content: center;
		align-items: center;
		-webkit-align-items: center;
		text-align: center;
	}

	.team__human-social {		
		margin-bottom: 20px;

	}

	/* Bio */
	.bio__text {
		font-size: 24px;
		margin-bottom: 10px
	}

	.bio__subtext {
		font-size: 11px;
	}
}

@media(max-width: 1024px) {
	.container {
		max-width: 729px;
	}

	/* Intro */
	.intro__title {
    	font-size: 38px;
	}	

	.intro__subtitle {
		font-size: 17px;
	}

	/* Features */
	.features__item {
		width: 45%;
	}

	/* Bio */
	.bio__slider {
		display: block;
		padding-top: 27px;
	}

	.bio__text {
		font-size: 20px;
		line-height: 34px;
		margin-bottom: 10px;
	}

	.bio__subtext {
		line-height: 18px;
	}
}


@media(max-width: 768px) {
	.container {
		max-width: 536px;
	}

	/* Navigation */
	.header__logo {
		cursor: default;
	}

	.header__navigation {
		position: absolute;
		right: 0;
		top: 0;
		height: 100vh;
		background-color: rgba(0, 0, 0, .8);
		z-index: 9;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transition: transform .2s linear;
		-webkit-transition: transform .2s linear;
	}

	.header__navigation ul {
		display: block;
		text-align: center;
		position: relative;
		top: 100px;
	}
	
	.header__navigation.active {
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
	}

	.header__navigation-item {
		margin-bottom: 15px;
		letter-spacing: 3px;
        cursor: default;
	}

	/* Burger */
	.header__burger-menu {
		display: block;
		right: 20px;
		z-index: 10;
	}

	/* Intro */
	.intro__title {
		font-size: 32px;

	}
	.intro__subtitle {
		font-size: 15px;
	} 

	.intro__btn {
		cursor: default
	}

    /* Features */
    .features__logo img {
        cursor: default; 
}

	/* Works */
	.works__photo {
		width: calc(50% - 1px);
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
	} 

	.works__photo:nth-child(2),
	.works__photo:nth-child(4),
	.works__photo:nth-child(6),
	.works__photo:nth-child(8) {
		width: 50%;
		border-right: 0px solid #fff
	}

	.works__photo:nth-child(7),
	.works__photo:nth-child(8) {
		border-bottom: 0px solid #fff;
	}

	/* Team */
	.team__human {
		width: 100%;
	}

	/* Bio */
	.bio {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.bio__photo {
		width: 100%;
	}

	.bio__slider {
		width: 100%;
		height: 240px;
		padding-top: 40px
	}

	.bio__text {
		font-size: 25px;
		margin-bottom: 20px
	}

	.bio__subtext {
		font-size: 15px;
	}

	/* Download */
	.download__title {
		line-height: 37px;
	}

	.download__btn {
		cursor: default
	}

	/* Footer */
	.footer__inner {
		justify-content: flex-start;
		padding-bottom: 30px
	}

	.footer__item {
		width: 100%;
		justify-content: flex-start;
		-webkit-justify-content: flex-start;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
	}
}

@media(max-width: 575px) {
	.container {
		max-width: none;
		padding: 0;
	}

	/* Intro */
	.intro__inner {
		padding: 0;
	}

	.intro__title {
		line-height: 40px;
		font-size: 24px;
	}

	.intro__subtitle {
		font-size: 13px;
	}

	/* Features */
	.features__item {
		width: 100%
	}

	/* Works */
	.works__photo {
		width: 100%;
		border-right: 0px solid #fff
	}
	.works__photo:nth-child(2),
	.works__photo:nth-child(4),
	.works__photo:nth-child(6),
	.works__photo:nth-child(8) {
		width: 100%;
	}

	.works__photo:nth-child(8) {
		border-bottom: 0px solid #fff;
	}

	/* Bio */
	.bio__text {
		font-size: 18px;
	}

	.bio__subtext {
		font-size: 14px;
	}

	/* Download */
	.download__title {
		font-size: 24px;
	}
}
















